# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

from pyspark.sql import SparkSession

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here
df = pd.read_csv("immigration_data_sample.csv")
df = df.drop(df.columns[0], axis=1)

In [3]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,...,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,...,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,...,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

In [4]:
spark = SparkSession.builder.\
        config("spark.jars.packages","saurfang:spark-sas7bdat:3.0.0-s_2.12")\
        .enableHiveSupport().getOrCreate()

In [4]:
# load data from SAS file
# df_spark = spark.read.format('com.github.saurfang.sas.spark') \
#             .load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
# write to parquet
# df_spark.write.parquet("sas_data")

## Data Loading

In [5]:
df_spark=spark.read.parquet("sas_data")

In [8]:
df_airport_codes = pd.read_csv("airport-codes_csv.csv")

In [15]:
df_cities_demo = pd.read_csv("us-cities-demographics.csv", sep=";")

In [12]:
df_airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [20]:
df_airport_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         55075 non-null  object
 1   type          55075 non-null  object
 2   name          55075 non-null  object
 3   elevation_ft  48069 non-null  float64
 4   continent     27356 non-null  object
 5   iso_country   54828 non-null  object
 6   iso_region    55075 non-null  object
 7   municipality  49399 non-null  object
 8   gps_code      41030 non-null  object
 9   iata_code     9189 non-null   object
 10  local_code    28686 non-null  object
 11  coordinates   55075 non-null  object
dtypes: float64(1), object(11)
memory usage: 5.0+ MB

In [16]:
df_cities_demo.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [47]:
df_cities_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    2891 non-null   object
 1   State                   2891 non-null   object
 2   Median Age              2891 non-null   float64
 3   Male Population         2888 non-null   float64
 4   Female Population       2888 non-null   float64
 5   Total Population        2891 non-null   int64
 6   Number of Veterans      2878 non-null   float64
 7   Foreign-born            2878 non-null   float64
 8   Average Household Size  2875 non-null   float64
 9   State Code              2891 non-null   object
 10  Race                    2891 non-null   object
 11  Count                   2891 non-null   int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.2+ KB

In [51]:
df_spark.limit(5).toPandas().T

,0,1,2,3,4
cicid,5748517.0,5748518.0,5748519.0,5748520.0,5748521.0
i94yr,2016.0,2016.0,2016.0,2016.0,2016.0
i94mon,4.0,4.0,4.0,4.0,4.0
i94cit,245.0,245.0,245.0,245.0,245.0
i94res,438.0,438.0,438.0,438.0,438.0
i94port,LOS,LOS,LOS,LOS,LOS
arrdate,20574.0,20574.0,20574.0,20574.0,20574.0
i94mode,1.0,1.0,1.0,1.0,1.0
i94addr,CA,NV,WA,WA,WA
depdate,20582.0,20591.0,20582.0,20588.0,20588.0
i94bir,40.0,32.0,29.0,29.0,28.0
i94visa,1.0,1.0,1.0,1.0,1.0
count,1.0,1.0,1.0,1.0,1.0
dtadfile,20160430,20160430,20160430,20160430,20160430
visapost,SYD,SYD,SYD,SYD,SYD
occup,None,None,None,None,None
entdepa,G,G,G,G,G
entdepd,O,O,O,O,O
entdepu,None,None,None,None,None
matflag,M,M,M,M,M
biryear,1976.0,1984.0,1987.0,1987.0,1988.0
dtaddto,10292016,10292016,10292016,10292016,10292016
gender,F,F,M,F,M
insnum,None,None,None,None,None
airline,QF,VA,DL,DL,DL
admnum,94953870030.0,94955622830.0,94956406530.0,94956451430.0,94956388130.0
fltno,00011,00007,00040,00040,00040
visatype,B1,B1,B1,B1,B1

In [45]:
df_spark.summary().toPandas().set_index('summary').transpose()

summary,count,mean,stddev,min,25%,50%,75%,max
cicid,3096313,3078651.879075533,1763278.0997498818,6.0,1577768.0,3103193.0,4654073.0,6102785.0
i94yr,3096313,2016.0,0.0,2016.0,2016.0,2016.0,2016.0,2016.0
i94mon,3096313,4.0,3.522051388958887E-16,4.0,4.0,4.0,4.0,4.0
i94cit,3096313,304.9069344733559,210.02688853063336,101.0,135.0,213.0,512.0,999.0
i94res,3096313,303.28381949757664,208.583212927889,101.0,131.0,213.0,504.0,760.0
i94port,3096313,None,None,5KE,None,None,None,YSL
arrdate,3096313,20559.84854179794,8.77733947482668,20545.0,20552.0,20560.0,20567.0,20574.0
i94mode,3096074,1.0736897761487614,0.5158963131657286,1.0,1.0,1.0,1.0,9.0
i94addr,2943721,51.652482269503544,42.979062313709846,..,10.0,40.0,99.0,ZU
depdate,2953856,20573.95283554784,29.35696848162746,15176.0,20561.0,20570.0,20579.0,45427.0
i94bir,3095511,41.767614458485205,17.420260534588273,-3.0,30.0,41.0,54.0,114.0
i94visa,3096313,1.8453925685161674,0.3983910200540981,1.0,2.0,2.0,2.0,3.0
count,3096313,1.0,8.805128472397217E-17,1.0,1.0,1.0,1.0,1.0
dtadfile,3096312,2.0160424766168267E7,50.0151344998323,20130811,2.0160409E7,2.0160417E7,2.0160424E7,20160919
visapost,1215063,Infinity,NaN,999,999.0,999.0,999.0,ZZZ
occup,8126,885.675,264.6551105950961,049,855.0,999.0,999.0,WTR
entdepa,3096075,None,None,A,None,None,None,Z
entdepd,2957884,None,None,D,None,None,None,W
entdepu,392,None,None,U,None,None,None,Y
matflag,2957884,None,None,M,None,None,None,M
biryear,3095511,1974.2323855415148,17.420260534588174,1902.0,1962.0,1975.0,1986.0,2019.0
dtaddto,3095836,8291120.333841449,1656502.4244924926,/ 183D,7102016.0,7252016.0,1.0132016E7,D/S
gender,2682044,None,None,F,None,None,None,X
insnum,113708,4131.050016327899,8821.743471773656,0,3680.0,3872.0,3945.0,YM0167
airline,3012686,59.477601493233784,172.63339952061742,*FF,2.0,2.0,2.0,ZZ
admnum,3096313,7.082885011076167E10,2.2154415947557686E10,0.0,5.6035215633E10,5.9360921733E10,9.350957833E10,9.991556593E10
fltno,3076764,1360.2463696420555,5852.676345633787,00000,101.0,408.0,903.0,ZZZ
visatype,3096313,None,None,B1,None,None,None,WT

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

### Airport Codes

In [30]:
df_airport_codes.shape

(55075, 12)

In [32]:
# check duplicates
df_airport_codes[df_airport_codes.duplicated('ident')]

Empty DataFrame
Columns: [ident, type, name, elevation_ft, continent, iso_country, iso_region, municipality, gps_code, iata_code, local_code, coordinates]
Index: []

In [28]:
# check missing
df_airport_codes.isnull().sum()

ident               0
type                0
name                0
elevation_ft     7006
continent       27719
iso_country       247
iso_region          0
municipality     5676
gps_code        14045
iata_code       45886
local_code      26389
coordinates         0
dtype: int64

### Cities Demographics

In [31]:
df_cities_demo.shape

(2891, 12)

In [36]:
# check duplicates
df_cities_demo[df_cities_demo.duplicated(['City', 'State', 'Race'])]

Empty DataFrame
Columns: [City, State, Median Age, Male Population, Female Population, Total Population, Number of Veterans, Foreign-born, Average Household Size, State Code, Race, Count]
Index: []

In [37]:
# check missing
df_cities_demo.isnull().sum()

City                       0
State                      0
Median Age                 0
Male Population            3
Female Population          3
Total Population           0
Number of Veterans        13
Foreign-born              13
Average Household Size    16
State Code                 0
Race                       0
Count                      0
dtype: int64

### Immigration Data

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,5748517.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,CA,20582.0,...,None,M,1976.0,10292016,F,None,QF,9.495387e+10,00011,B1
1,5748518.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,NV,20591.0,...,None,M,1984.0,10292016,F,None,VA,9.495562e+10,00007,B1
2,5748519.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20582.0,...,None,M,1987.0,10292016,M,None,DL,9.495641e+10,00040,B1
3,5748520.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1987.0,10292016,F,None,DL,9.495645e+10,00040,B1
4,5748521.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1988.0,10292016,M,None,DL,9.495639e+10,00040,B1

In [ ]:
# Performing cleaning tasks here

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

city => airport => imma data

city => imm data air + city <= air

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.